# App
SECRET_KEY="SUPER-SECRET-KEY"
OPTISENSE_API_URL="http://0.0.0.0:8080/api"
OPTISENSE_API_KEY="6LwqIlJh.baaWZJiHs4KyM56rBCtOh6HyfWtIx0sx"

# Redis credentials
REDIS_URL=redis://glazunya-redis:6379
REDIS_POOL_MAX_SIZE=15

# добавляем папку с кодом в PYTHONPATH, чтобы работало через docker-compose
PYTHONPATH=/opt/app/src